<!DOCTYPE html>
<html>

<body>
<<div class="container mt-5 cards-container" style="margin-top: 70px;">
<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 d-flex">
      <%= image_tag "projects/01.png", class: "card-img-top", alt: "Project Image" %>
      <div class="card-body">
        <h5 class="card-title">007.Squirtle</h5>
        <p class="card-text">Cuando retrae su largo cuello en el caparazón, dispara agua a una presión increíble.</p>
        <a href="#" class="btn btn-primary" onclick="toggleText(this)">Ver más</a>
        <div class="additional-text" id="squirtle-text" style="display: none;">
          0.5m, 9kg.
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 d-flex">
      <%= image_tag "projects/02.png", class: "card-img-top", alt: "Project Image" %>
      <div class="card-body">
        <h5 class="card-title">008.Wartortle</h5>
        <p class="card-text">Se lo considera un símbolo de longevidad. Los ejemplares más ancianos tienen musgo sobre el caparazón.</p>
        <a href="#" class="btn btn-primary" onclick="toggleText(this)">Ver más</a>
        <div class="additional-text" id="wartortle-text" style="display: none;">
          1.0m, 22.5kg
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 d-flex">
      <%= image_tag "projects/03.png", class: "card-img-top", alt: "Project Image" %>
      <div class="card-body">
        <h5 class="card-title">009.Blastoise</h5>
        <p class="card-text">Para acabar con su enemigo, lo aplasta con el peso de su cuerpo. En momentos de apuro, se esconde en el caparazón.</p>
        <a href="#" class="btn btn-primary" onclick="toggleText(this)">Ver más</a>
        <div class="additional-text" id="blastoise-text" style="display: none;">
          1.6m, 85.5kg
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<script>
    function toggleText(button) {
      var cardBody = button.parentNode;
      var additionalText = cardBody.querySelector('.additional-text');
      if (additionalText.style.display === 'none') {
        additionalText.style.display = 'block';
      } else {
        additionalText.style.display = 'none';
      }
    }
  </script>
</body>
</html>







