<!DOCTYPE html>
<html>
<head>
  <title>Tu aplicación</title>
  <!-- Agrega los enlaces de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <!-- Agrega el código del menú de navegación -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Proyectos', '/projects', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contacto', '/contact', class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Agrega el contenido de tu vista -->
  <%= yield %>
</body>
</html>

